<header>
  <div>
    <a href="/">
      <img
        src="/static/logo/epiflipboard.png"
        width="32"
        height="32"
        alt="epiFlipboard Logo"
      />
      <h1>EPIFLIPBOARD</h1>
    </a>

    <div class="search-wrapper">
      <input type="text" placeholder="Search epiFlipboard" />
      <span>🔍</span>
    </div>
    <nav>
      <button>Newsletters</button>
      <a href="#search" class="search-icon-mobile">🔍</a>
      <button class="button-primary">Sign up</button>
      <a href="#login">Log in</a>
    </nav>
  </div>
</header>
