<header>
  <div>
    <a href="/">
      <img
        src="/static/logo/epiflipboard.png"
        width="32"
        height="32"
        alt="epiFlipboard Logo"
      />
      <h1>EPIFLIPBOARD</h1>
    </a>

    <div class="search-wrapper">
      <input type="text" placeholder="Search epiFlipboard" />
      <span>🔍</span>
    </div>
    <nav id="header-nav">
      <button>Newsletters</button>
      <a href="#search" class="search-icon-mobile">🔍</a>
      {% if !username.is_empty() %}
      <span style="color: var(--color-text); margin: 0 1rem;">Welcome, {{ username }}</span>
      <a href="/logout">Log out</a>
      {% else %}
      <button
        class="button-primary"
        hx-get="/signup"
        hx-target="body"
        hx-swap="beforeend"
      >
        Sign up
      </button>
      <a href="#" hx-get="/login" hx-target="body" hx-swap="beforeend">Log in</a>
      {% endif %}
    </nav>
  </div>
</header>
