{% extends "base.html" %} {% block title %}Home{% endblock %} {% block head %}
{% endblock %} {% block content %}
<div class="grid">
  {% for article in articles %}
  <article class="card">
    {% if !article.image_url.is_empty() %}
    <img src="{{ article.image_url }}" alt="{{ article.title }}" />
    {% endif %}
    <div class="content">
      <span class="tag">{{ article.tag }}</span>
      <h2>
        <a href="{{ article.original_url }}" target="_blank"
          >{{ article.title }}</a
        >
      </h2>
      <div class="meta">
        <span class="publisher">{{ article.publishers }}</span>
        <span class="author">{{ article.authors }}</span>
        <span class="time">{{ article.time_ago }}</span>
      </div>
      <p class="description">{{ article.description }}</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}
