@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #121212;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Register Fonts */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-serif: var(--font-playfair), ui-serif, Georgia;
  --font-gothic: var(--font-gothic), ui-serif, Georgia;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}